*{
    margin: 0;
    padding: 0;
}

.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.reverseCurve{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.separator{
    margin-top: -8px;
    position: relative;
}

.someContent{
    margin-left: 100px;
    height: 90vh;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.graphShow{
    width: 50vw;
    height: 350px;
}

.greetings{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    background: linear-gradient(to right, #3c1053, #ad5389);
    height: 200px;
    padding-top: 50px;
}

.restContent{
    height: 40vh;
    background: linear-gradient(to left, #3c1053, #ad5389);
    margin-top: -10px;
}

.salesText{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 200px;
    width: 400px;
}