.boxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

.increaseBox{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 300px;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
}