.container{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 10px; */
    /* margin-left: 30px; */
}

/* @media (max-width: 1680px){
    .container{
        margin-left: 60px;
    }
} */