.btn {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: #fff;
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255, .3);
    padding: 15px 10px;
    transition: all .2s ease;
    
}
.btn:last-of-type {
    border : none;
}
.btn:hover {
    background-color : purple;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.active {
    background-color : purple;
    border-bottom: 2px solid #fff;
}

.profile{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

@media (max-width: 768px) {
   .profileIcon {
       margin: 10px 40px 20px 0;
   }
 }