.btn{
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(48, 67, 173, .5);
    padding: 10px;
    transition: all .2s ease;
}
.btn:last-child {
    border: none;
}

.btn:hover {
    background-color : rgb(48, 67, 173);
    color: #fff;
    border-bottom: 2px solid #fff;
}

.profile{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

@media (max-width: 768px) {
   .profileIcon {
       margin: 10px 40px 20px 0;
   }
 }