.page{
    margin-left: 250px;
    margin-right: 100px;
    width: 80%;
}

.filterAddContainer{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.accountName {
    background-color : #0267CD20;
    text-transform: uppercase;
    font-weight: 600;
}

.categoryContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container{
    display: flex;
    width: 40vw;
    flex-wrap: wrap;
    margin-top: 50px;
}

.categoryPage{
    height: 100vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bothPageContainer{
    display: flex;
}

styles.categoryLabel{
    margin-top: 50px;
}

*{
    font-family: 'Poppins', sans-serif;
}