.page{
    margin-left: 250px;
    margin-right: 100px;
    width:80%;
}

.filterAddContainer{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.accountName {
    background-color : #0267CD20;
    text-transform: uppercase;
    font-weight: 600;
}

.categoryContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}