.progress{
    width: 50vw;
    height: 25px;
}

.card{
    display: flex;
    justify-content: center;
}

.formContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.progCard{
    width: 60vw;
    height: 300px;
}

.infoContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.btnContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.btn{
    width: 200px;
}

@media (max-width: 545px) {
    .btn{
        width: 124px;
    }
}