.Regform{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
   
   
}

.input_container{
    width: 75vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.loginCard{
    width: 80vw;
    max-width: 600px;
    height: 370px;
    display: flex;
    justify-content: center;
}

.regCard{
    width: 80vw;
    max-width: 600px;
    height: 700px;
    display: flex;
    justify-content: center;
}

.formContainer{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    padding: 40px;
    min-height: 100vh;

    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.formText{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color : #707070;
}

.startBudget{
    width: 120px;
}

.currency{
    width: 70px;
}

.dateCurrencyContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

